@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap');


body {
    margin: 0px;
}

header {
    text-align: center;
    box-shadow: 0px 2px 4px 0px #00000026;
    font-family: 'Shrikhand', cursive;
    padding: 2px 0px;
    position: relative;
}

.textcenter {
    text-align: center;
}
.directionrow {
    display: flex;
    flex-direction: row;
}

main .Localisation {
    background: #EAEAEA;
    padding: 3px;    
}

.Localisation h2 {
    font-family: Roboto, cursive;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;

}

.reservation {
    font-family: Roboto, cursive;
    background: #F3F3F3;
    padding: 30px 10px;
    text-align: center;
}

.reservation h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 19px;
    text-align: center
}

.reservation p {
    font-size: 18px;
    font-weight: 300;
    line-height: 19px;
}

.reservation button {
    color: white;
    font-weight: 500;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px 0px #00000040;
    border-radius: 25px;
    padding: 13px 18px;
    border: none;
}
/***ETAPES***/

.etapes {
    font-family: "Roboto", cursive;
}
.etapes ol {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding-right: 40px;
}

.etapes ol li {
    background-color: #F6F6F6;
    border-radius: 20px;
    padding: 27px 0px;
    padding-right: 25px;
    box-shadow: 0px 4px 15px 0px #00000026;
}

.etapes ol li i {
    margin-right: 10px;
}

.etapes ol li span {
    font-size: 14px;
    position: relative;
    left: -15px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: #9356dc;
    color: white;
}

.etapes ol li:hover i {
    color: #9356dc;
}

/***RESTAURANTS***/
.mainrestaurant {
    background-color: #F3F3F3;
}

.restaurants {
    padding: 10px;
    gap: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.carte {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}
.carte a{
    background-color: #FF79DA;
    text-decoration: none;
    border-radius: 15px;    
    
}

.carte img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    flex-grow: 1 1 0;
    
}
   

/***767px***/

@media (max-width: 767px) {
    .etapes ol {
        flex-direction: column;
    }
}
