@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;1,900&family=Oswald:wght@300;700&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;1,900&family=Oswald:wght@300;700&family=Roboto:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;1,900&family=Oswald:wght@300;700&family=Roboto:wght@300;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;1,900&family=Oswald:wght@300;700&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
/***********************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/********************************************************************/
/********************************************************************/
/********************************************************************/
/********************************************************************/
header {
  position: relative;
}
header h1 {
  width: 100%;
  display: inline-flex;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  justify-content: center;
  align-items: center;
  height: 65px;
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}
header i {
  position: absolute;
  left: 25px;
  top: 25px;
  font-size: 20px;
  color: black;
}

img {
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

main {
  max-width: 1055px;
  margin: auto;
}

.sectionmenu {
  background: #F6F6F6;
  position: absolute;
  width: 100%;
  max-width: 1055px;
  border-radius: 30px 30px 0px 0px;
  font-family: "Shrikhand", cursive;
  font-size: 26px;
  margin-top: -30px;
  padding-top: 10px;
}
.sectionmenu h2 {
  margin: 30px 20px 0px;
}
.sectionmenu .row {
  margin: auto;
  max-width: 450px;
  display: flex;
  justify-content: space-around;
}
.sectionmenu .fa-heart {
  margin-right: 40px;
  display: flex;
  align-items: flex-end;
  animation: heartreverse 500ms ease-in-out;
  -webkit-background-clip: text;
          background-clip: text;
}
.sectionmenu .fa-heart:hover {
  background-clip: text;
  -webkit-background-clip: text;
  animation: heart 500ms ease forwards;
}

@keyframes heartreverse {
  0% {
    background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    font-weight: bold;
    opacity: 1;
    color: transparent;
  }
  25% {
    background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    font-weight: bold;
    opacity: 0, 2;
    background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    font-weight: bold;
    opacity: 0.5;
  }
  75% {
    background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    font-weight: bold;
    opacity: 0, 2;
  }
  100% {
    opacity: 0;
    color: white;
  }
}
@keyframes heart {
  0% {
    opacity: 0;
    color: white;
  }
  25% {
    background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    font-weight: bold;
    opacity: 0.2;
  }
  75% {
    background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    font-weight: bold;
    opacity: 0.5;
  }
  100% {
    background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    font-weight: bold;
    opacity: 1;
    color: transparent;
  }
}
.menu {
  background: #F6F6F6;
  font-family: "Roboto", cursive;
  font-weight: 300;
  padding: 40px 0px;
}
.menu .menu-part {
  display: flex;
  flex-direction: column;
  max-width: 635px;
  margin: auto;
}
.menu article {
  margin: 20px;
  max-width: 635px;
}
.menu article h3 {
  font-size: 16px;
  border-bottom: 2px solid #99E2D0;
  padding-bottom: 5px;
  width: 40px;
  max-width: 635px;
}
.menu article h4 {
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu article p {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu .box {
  display: flex;
  margin-top: 12px;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  height: 70px;
  width: 100%;
  max-width: 635px;
  overflow: hidden;
}
.menu .box .name-description {
  margin: 15px;
  line-height: 20px;
  width: 100%;
  overflow: hidden;
}
.menu .box .items {
  display: flex;
  margin-left: auto;
  margin-right: -60px;
  transition: all 0.5s;
}
.menu .box .items p {
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  padding: 10px 15px;
  padding-left: 0px;
  width: 20px;
}
.menu .box .check {
  margin-left: auto;
  background: #99E2D0;
  width: 60px;
  color: white;
  border-radius: 0px 15px 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
}

.menu .box:hover .items {
  margin-right: 0px;
}

.button {
  margin: auto;
  width: 186px;
  padding-top: 20px;
}
.button button {
  color: white;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", cursive;
  background: linear-gradient(0, #9356DC 12.44%, #FF79DA 121.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 25px;
  padding: 16px 0px;
  width: 100%;
  border: none;
}
.button button:hover {
  filter: brightness(1.2);
  transform: scale(1.015);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4392156863);
}

footer {
  display: flex;
  flex-direction: column;
  background: #353535;
  color: white;
  font-family: "Roboto", cursive;
  font-weight: 500;
  padding: 25px;
  line-height: 25px;
  font-size: 16px;
}
footer h4 {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  padding: 15px 0px;
}
footer li i {
  padding-right: 3px;
}
footer .fa-utensils {
  padding-right: 9px;
}
footer .fontweight {
  font-weight: 400;
}
footer .contact {
  text-decoration: none;
  color: white;
}

@media (min-width: 1024px) {
  footer {
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row-reverse;
    gap: 25px;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  footer h4 {
    padding: 0px 40px;
  }
}/*# sourceMappingURL=restaurant.css.map */