@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;1,900&family=Oswald:wght@300;700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;1,900&family=Oswald:wght@300;700&family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;1,900&family=Oswald:wght@300;700&family=Roboto:wght@300;500&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;1,900&family=Oswald:wght@300;700&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');
/***********************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********************************************************************/
/********************************************************************/

$font-family_1: 'Shrikhand', cursive;
$font-family_2: "Roboto", cursive;

$background-color_1: #F6F6F6;
$background-color_2: #9356dc;

/********************************************************************/
@mixin flexMid {
	display: flex;
	align-items: center;
	justify-content: center;
}
/********************************************************************/

.loader {
	display: flex;
	justify-content:center;
	padding-top: 300px;
	position: fixed;
	background-color: #353535;
	height: 100vh;
	inset: 0;
	z-index: 1;
	animation: endloader 1.5s forwards;
	.lds-ellipsis {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 80px;
		height: 80px;
		
	}
	.lds-ellipsis div {
		position: absolute;
		width: 13px;
		height: 13px;
		border-radius: 50%;
		background: #fff;
		animation-timing-function: cubic-bezier(0, 1, 1, 0);
	}
	.lds-ellipsis div:nth-child(1) {
		left: 8px;
		animation: lds-ellipsis1 0.8s infinite;
		
	}
	.lds-ellipsis div:nth-child(2) {
		left: 8px;
		animation: lds-ellipsis2 0.8s infinite;
		background: #99E2D0;
	}
	.lds-ellipsis div:nth-child(3) {
		left: 32px;
		animation: lds-ellipsis3 0.8s infinite;
		background: #FF79DA;
	}

	@keyframes lds-ellipsis1 {
		0% {
		   transform: scale(0);
		   background: #9356DC;
		}
		50% {
			background: #9356DC;
		}
		
		100% {
		   transform: scale(1);
		   background: #99E2D0;
		}
	}
	@keyframes lds-ellipsis3 {
		0% {
			transform: translate(0, 0);
		}
		50%{
			background: #FF79DA;
		}
		100% {
		transform: translate(24px, 0);
		background: #9356DC;
  
		}
	}
	@keyframes lds-ellipsis2 {
		0% {
		  transform: translate(0, 0);
		}
		50% {
			background: #99E2D0;
		}
		
		100% {
		  transform: translate(24px, 0);
		  background: #FF79DA;

		}
	}
}

@keyframes endloader {
	from {
		opacity: 1;	
	}
	75% {
		opacity: 1;
	}
	99%{
		opacity: 0;
		display: none;
	}	
	to {
		opacity: 0;	
	}
}

header {	
	h1 {
       width: 100%;
	   display: inline-flex;
	   box-shadow: 0px 2px 4px 0px #00000026;
	   justify-content: center;
	   align-items: center;	
	   height: 65px;
	   font-family: $font-family_1;
	   font-size: 30px;
	}
}


.Localisation {
    font-family: $font-family_2;
    font-size: 16px;
    font-weight: 500;
	background: #EAEAEA;
	@include flexMid;
	height:50px;
	& i {
		padding-right: 10px;
	}
}


.reservation {
	font-family: $font-family_2;
	background: #F3F3F3;
	padding: 30px 10px;
	text-align: center;
	h2 {
		font-size: 24px;
		font-weight: 700;
	}
	p {
		font-size: 18px;
		font-weight: 300;
		margin: 15px;
	}

	button {
		color: white;
		font-weight: 500;
		font-size: 16px;
		font-family: $font-family_2;
		background: linear-gradient(0, #9356DC 12.44%, #FF79DA 121.93%);
		box-shadow: 0px 4px 10px 0px #00000040;
		border-radius: 25px;
		padding: 17px 22px;
		border: none;
		margin: 20px;
		transition: all 200ms ease-in-out;
	}

	button:hover {
	    filter: brightness(1.2);
		transform: scale(1.015);
		box-shadow: 0px 4px 10px 0px #00000070;       
	}
}

.etapes {
	font-family: $font-family_2;
	font-weight: 700;
	font-size: 24px;
	margin: 45px 30px;
	h2 {
		max-width: 1115px;
		margin: auto;
		margin-bottom: 25px;
	}
	ol {
		font-weight: 500;
		font-size: 16px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 1115px;
		gap: 25px;
		margin: 25px 30px;
		
		
	    li {
			width: 100%;
			background-color: $background-color_1;
			border-radius: 20px;
			padding: 25px 0px;
			box-shadow: 0px 4px 15px 0px #00000026;
			max-width: 333px;
			i {
				margin-right: 10px;
				color: #7E7E7E;				
			}
			span {
				color: white;
				font-size: 14px;
				position: relative;
				right: 15px;
				padding: 4px 8px;
				border-radius: 50%;
				background-color: $background-color_2;
			}
		}
	}
}

ol li:hover {
	i {
	color: #9356DC;
	}
}

.mainrestaurant {
	background-color: #F3F3F3;
	font-family: $font-family_2;
	h2 {
		padding: 50px 30px 0px;
		font-size: 24px;
		font-weight: 700;
		max-width: 1115px;
		margin: auto;

	}
	.restaurants {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 25px;
		max-width: 1115px ;
		margin: auto;
	}

	article {
		flex: 1 1 0;
		background-color: white;
		box-shadow: 0px 4px 15px 0px #0000001A;
		margin: 10px;
		width: 100%;
		min-width: 340px;
	    border-radius: 15px;
		position: relative;
		max-width: 500px;
		
	}
	article a {
		display: flex;
		flex-direction: column;
		text-decoration: none;
		color: inherit; 
	}
	article a img{
		max-height: 160px;
		width: 100%;
		object-fit: cover;
		border-radius: 15px 15px 0px 0px;
	}

	article .new {
		font-family: $font-family_2;
		position: absolute;
		right: 20px;
		top: 20px;		
		font-weight: 500;
		font-size: 14px;
		padding: 7px 10px;
		background-color: #99E2D0;
		color: #008766;
		border-radius: 2px;		
	}
	article a h3 p {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px;
	}
	article .nomrestaurant {
		padding: 10px;
		line-height: 25px
			
	}
	article .nomrestaurant h3 {
		font-weight: 700;
	}
	.nomrestaurant p {
		font-weight: 300;
	}

	.fa-heart {
		font-size: 20px;
		position: absolute;
		right: 30px;
		bottom: 25px;
		background-clip: text;
        animation: heartreverse 500ms ease-in-out;	
	}

    .fa-heart:hover {
		animation: heart 500ms ease-in-out forwards;
		background-clip: text;
		-webkit-background-clip: text;	
	}	
}

@keyframes heartreverse {
	0% {
		background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
		font-weight: bold;
		opacity: 1;
		color: transparent;	
	}
	25%{
		background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
		font-weight: bold;
		opacity: 0,2;
		background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
		font-weight: bold;
		opacity: 0.5;
	}
	75%{
		background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
		font-weight: bold;
		opacity: 0,2;
	}
	100%{
		opacity: 0;
		color: white;
	}
}

@keyframes heart {
	0% {
		opacity: 0;
		color: white;	
	}
	25%{
		background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
		font-weight: bold;
		opacity: 0,2;
	}
	75%{
		background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
		font-weight: bold;
		opacity: 0.5;
	}
	100%{
		background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
		font-weight: bold;
		opacity: 1;
		color: transparent;
	}
}

footer {
	display: flex;
	flex-direction: column;
	background: #353535;
	color: white;
	font-family: $font-family_2;
	font-weight: 500;
	padding: 25px;
	line-height: 25px;
	font-size: 16px;
	h4 {
		font-family: $font-family_1;
		font-size: 18px;
		padding: 15px 0px;
	}
	li i {
		padding-right: 3px;
	}
	.fa-utensils {
		padding-right: 9px;
	}
	.fontweight {
		font-weight: 400;
	}
	.contact {
		text-decoration: none;
		color: white;
	}
}


@media (min-width: 1024px)  { 	
	.etapes ol {
	    flex-direction: row;
	    gap: 40px;
	    margin: auto;
    }

	.restaurants {
		gap: 30px 90px;
	}
	.restaurants article {
		min-width: 400px;
	}

	footer {
		height: 60px;
		display: flex;		
		justify-content: flex-start;
		align-items: flex-end;
		flex-direction: row-reverse;
		gap: 25px;
	}

	footer ul {
		display: flex;
		flex-direction: row;
		gap: 15px;
	}

	footer h4 {
		padding: 0px 40px;
	}
 

}